.promotion{
  display: flex;
  margin-bottom: 15px;
  overflow: hidden;
  color: #595959;
  border: 1px solid #E9E9E9;
}

.promotion__image {
  margin: 15px;
  width: 25%;
  min-width: 100px;
}

.promotion__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  width: 75%;
}

.promotion__details_product{
  padding-right: 15px;
}

.promotion_info{
  display: block;
  margin: 0 0 15px;
}

.promotion_info--store_name{
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
  vertical-align: middle;
}

.promotion_info--store_name::after{
  content: "/";
  margin-left: 5px;
  font-size: 0.6rem;
}

.promotion_info--title {
  font-weight: normal;
  font-size: 1.1rem;
}

.promotion_info--comment_preview {
  font-style: italic;
}

.promotion-row-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotion_info--price {
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
  margin-bottom: 0;
}

.button-container{
  margin-left: 15px;
}

.promotion__details_post{
  border-top: 1px solid #F5F5F5;
  padding: 10px 0;
  margin-top: 10px;
}

.promotion__details_post_info{
  font-size: 0.8rem;
}

.promotion__details_post_info::after{
  content: "/";
  margin: 0 10px;
}

.promotion__details_post_info--user::after{
  content: "";
}

/* Mobile */
@media only screen and (max-width: 425px) {

  .promotion{
    flex-direction: column;
    align-items: center;
  }

  .promotion__image,
  .promotion__details{
    width: auto;
  }

  .promotion__details_product,
  .promotion__details_post{
    padding-left: 15px;
  }

  .button-container .button-cta{
    padding: 8px 25px;
  }

  .button-container .button-cta span{
    display: none;
  }
  .button-container .button-cta::after {
    content: "";
    -webkit-mask-image: url("/images/icon-arrow.svg");
    mask-image: url("/images/icon-arrow.svg");
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--button-cta-primary-font-color);
    display: block;
    height: 12px;
    width: 12px;
  }
  .button-container .button-cta:hover::after {
    background-color: var(--button-cta-primary-font-color--hover);
  }
}

/* Tablet */
@media only screen and (min-width: 425px) {
  .promotion_info--title {
    font-size: 1.5rem;
  }

  .promotion_info--price {
    font-size: 1.4rem;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .promotion_info--title {
    font-size: 1.7rem;
  }

  .promotion_info--price {
    font-size: 1.6rem;
  }
}