@font-face {
  font-family: "Futura Book";
  src: url("/fonts/Futura Book.woff") format("woff"),
       url("/fonts/Futura Book.ttf") format("truetype");
}

html, body{
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: #EEE;
  font-family: "Futura Book", Futura,"Century Gothic", AppleGothic, sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}